<div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <form (ngSubmit)="saveData()" [formGroup]="createPlayerForm">
            <div class="row">
                <div class="col-12 player-form">
                    <input formControlName="nameInput" type="text" placeholder="Name">
                </div>
                <div class="col-12 player-form">
                    <input formControlName="emailInput" type="email" placeholder="Email">
                </div>
                <div class="col-12 text-right">
                    <button class="btn btn-warning" type="reset" (click)="setForm()">Reset</button>
                    <button class="btn btn-primary" type="submit" name="submit" [disabled]="createPlayerForm.invalid">Save</button>
                </div>
                <app-error [errorMessage]="responseMessage" *ngIf="responseMessage"></app-error>
            </div>
        </form>
    </div>
</div>