.join-to-game {
    cursor: pointer;
}

.join-to-game:hover {
    color: #310c0c;
    text-decoration: underline;
}

.game-status {
    margin-left: 10px;
}

td.won .fa,
td.won .game-status {
    color: #4ebc29;
}

td.lost .fa,
td.lost .game-status .fa-times-circle {
    color: #e02306;
}

td.in-progress .fa,
td.in-progress .game-status {
    color: #3e1971;
}

.fa-spinner {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}