<table class="table text-center" *ngIf="games; else infoText">
    <thead>
        <tr>
            <th>#</th>
            <th>Challenger</th>
            <th>Opponent</th>
            <th>Game id</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of games; let i = index">
            <th>{{ i + 1 }}</th>
            <td>Mario</td>
            <td>{{ game.opponentName }}</td>
            <td>{{ game.game_id }}</td>
            <td>
                <i class="fa" aria-hidden="true" [ngClass]="{'fa-spinner': game.status === 'IN_PROGRESS','fa-check-circle': game.status === 'WON', 'fa-times-circle': game.status === 'LOST'}"></i>
                <span class="join-to-game" *ngIf="game.status === 'IN_PROGRESS'" (click)="navigateTo(game.game_id, game.status)">JOIN</span>
            </td>
        </tr>
    </tbody>
</table>

<ng-template #infoText>
    <app-error [errorMessage]="responseMessage"></app-error>
</ng-template>