.game-status {
    margin-left: 10px;
}

td.won .fa,
td.won .game-status {
    color: #4ebc29;
}

td.lost .fa,
td.lost .game-status {
    color: #e02306;
}

td.in-progress .fa,
td.in-progress .game-status {
    color: #3e1971;
}

@media(min-width:768px) {
    .table {
        margin: 0 auto;
        width: auto;
        display: table;
    }
}