<table class="table text-center" *ngIf="games; else infoText">
    <thead>
        <tr>
            <th>#</th>
            <th>Challenger</th>
            <th>Opponent</th>
            <th>Game id</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let game of games; let i = index" (click)="navigateTo(game.game_id, game.status)">
            <th>{{ i + 1 }}</th>
            <td>Mario</td>
            <td>{{ game.opponentName }}</td>
            <td>{{ game.game_id }}</td>
            <td>{{ game.status }}</td>
        </tr>
    </tbody>
</table>

<ng-template #infoText>
    <app-error [errorMessage]="responseMessage"></app-error>
</ng-template>