<div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
        <h1>Rules</h1>
        <p>Battleship is played using the following rules:</p>
        <ul>
            <li>The playing board consists of 10x10 grid, where the rows are numbered using the decimal number system (1 – 10) and the columns are marked alphabetically (A – J).</li>
            <li>A shot is indicated as ROWxCOLUMN. For instance 5xE, which indicates a shot was fired at the cell in row 5, column 5</li>
            <li>Each player owns (and must place) the following set of battleships in his grid, exact number of respective ships is outlined below</li>
            <li>When a game is initiated, positions of the ships in the grid are fixed, and they do not change throughout the game.</li>
            <li>Ships cannot be next to each other or overlap on the grid.</li>
            <li>Each player is allowed to shoot a salvo of shots equalling the number of ships he controls that have not yet been destroyed.</li>
            <li>A ship can be placed vertically or horizontally</li>
        </ul>
    </div>
</div>