<div class="row">
    <div class="col-6">
        <select name="challenger" (change)="onChallengerChange($event.target.value)">
          <option value="default">Select challenger</option>
          <option [value]="challenger.id" *ngFor="let challenger of challengers" >{{ challenger.name }}</option>
        </select>
    </div>
    <div class="col-6">
        <select name="profile" (change)="onOpponentChange($event.target.value)">
          <option value="default">Select opponents</option>
          <option [value]="opponent.id" *ngFor="let opponent of opponents" >{{ opponent.name }}</option>
        </select>
    </div>
    <div class="col-12 text-right">
        <button class="btn btn-primary" (click)="createGame()">Create a game</button>
    </div>
</div>