.wrapper-intro {
    min-height: 150px;
}

.field {
    height: 50px;
    width: 9%;
    text-align: center;
    line-height: 50px;
}

.field-border {
    border-top: 1px solid;
    border-left: 1px solid;
    cursor: pointer;
}

.letter {
    border: 1px solid;
}

.field-border:last-of-type {
    border-right: 1px solid;
}

.letter-row:last-of-type .field-border {
    border-bottom: 1px solid;
}

.opponent .empty-field:hover {
    background-color: #cccc00;
}

.ship-field {
    background-color: #7e7e7e;
    cursor: default;
}

.shot-field {
    background-color: #990000;
    cursor: no-drop;
}

.missed-field {
    background-color: #006161;
    cursor: no-drop;
}

.modal {
    background-color: rgba(0, 0, 0, .35);
    display: block;
}

@media(max-width: 600px) {
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 991px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 50%;
        left: 25%;
    }
}