<div class="row" *ngIf="selfGrid.length > 0 && opponentGrid.length > 0; else infoText">
    <div class="col-12">
        <h1>Self</h1>
        <div class="row">
            <div class="field"></div>
            <div class="field" *ngFor="let number of columns">
                {{ number }}
            </div>
        </div>
        <div class="row letter-row" *ngFor="let row of selfGrid; let i = index">
            <div class="field">{{ rows[i] }}</div>
            <div class="field field-border" *ngFor="let column of row" [ngClass]="{'empty-field': column.value === '.','ship-field': column.value === '#','missed-field': column.value === '0','shot-field': column.value === 'X'}">
            </div>
        </div>
    </div>
    <div class="col-12">
        <h1>Opponent</h1>
        <div class="row">
            <div class="field"></div>
            <div class="field" *ngFor="let number of columns">
                {{ number }}
            </div>
        </div>
        <div class="row letter-row opponent" *ngFor="let row of opponentGrid; let i = index">
            <div class="field">{{ rows[i] }}</div>
            <div class="field field-border" *ngFor="let column of row" (click)="shot(column.number, column.letter)" [ngClass]="{'empty-field': column.value === '.','ship-field': column.value === '#','missed-field': column.value === '0','shot-field': column.value === 'X'}">
            </div>
        </div>
    </div>
</div>

<ng-template #infoText>
    <app-error [errorMessage]="responseMessage"></app-error>
</ng-template>