<div class="row" *ngIf="selfGrid.length > 0 && opponentGrid.length > 0">
    <div class="col-12">
        <div class="row text-center field-legend">
            <p>Legend:</p>
            <div class="col-6 col-md-4 col-lg-2" *ngFor="let gridState of gridStates">
                <div class="field {{gridState.state}}"></div>
                <p>{{ gridState.name }}</p>
            </div>
        </div>
    </div>
    <div class="col-12 buttons text-right">
        <button class="btn btn-info" (click)="autopilot()">AUTOPILOT</button>
        <button class="btn btn-default" [routerLink]="['/players/detail/' + playerId]">LEAVE</button>
    </div>
    <div class="col-12 col-lg-6">
        <div class="row wrapper-intro text-center">
            <h1>Opponent</h1>
            <p>Ships status {{ opponentRemainingShips }} / 10</p>
            <p>Number of shots {{ shotCounter }} / {{ selfRemainingShips }}</p>
        </div>
        <div class="row columns">
            <div class="field" *ngFor="let column of columns">
                {{ column }}
            </div>
        </div>
        <div class="row letter-row opponent" *ngFor="let row of opponentGrid; let i = index">
            <div class="field">{{ rows[i] }}</div>
            <button class="field field-border" *ngFor="let column of row; let j = index" [disabled]="column.value !== '.'" (click)="shot(column.number - 1, column.letter); column.value = 'S'" [ngClass]="{'empty-field': column.value === '.','ship-field': column.value === '#','missed-field': column.value === 'O','shot-field': column.value === 'X', 'user-shot': column.value === 'S'}">
            </button>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="row wrapper-intro text-center">
            <h1>Self</h1>
            <p>Ships status {{ selfRemainingShips }} / 10</p>
        </div>
        <div class="row columns">
            <div class="field" *ngFor="let column of columns">
                {{ column }}
            </div>
        </div>
        <div class="row letter-row" *ngFor="let row of selfGrid; let i = index">
            <div class="field">{{ rows[i] }}</div>
            <button class="field field-border" *ngFor="let column of row" [ngClass]="{'empty-field': column.value === '.','ship-field': column.value === '#','missed-field': column.value === 'O','shot-field': column.value === 'X'}">
            </button>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" *ngIf="showShotDialog || responseMessage">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Shot result</h5>
            </div>
            <div class="modal-body">
                <table class="table text-center" *ngIf="showShotDialog">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Field</th>
                            <th>Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let shot of shotResult.salvo; let i = index">
                            <th>{{ i + 1 }}</th>
                            <td>{{ shot.field }}</td>
                            <td>{{ shot.result }}</td>
                        </tr>
                    </tbody>
                </table>
                <p *ngIf="responseMessage">{{ responseMessage }}</p>
            </div>
            <div class="modal-footer">
                <button *ngIf="showShotDialog" type="button" class="btn btn-secondary" [routerLink]="['/game-play/' + shotResult.playerTurn + '/' + shotResult.gameId]">Next player</button>
                <button *ngIf="responseMessage" type="button" class="btn btn-secondary" [routerLink]="playerTurnId ? ['/game-play/' + playerTurnId + '/' + gameId] : ['/game-create']">{{ playerTurnId ? 'Go to player ' + playerTurnId : 'Create new game' }}</button>
            </div>
        </div>
    </div>
</div>