.wrapper-intro {
    min-height: 150px;
}

.buttons {
    margin-bottom: 35px;
}

.field {
    height: 50px;
    width: 9%;
    text-align: center;
    line-height: 50px;
    margin: 0;
    border: 0;
    background-color: #ffffff;
}

.columns .field:first-of-type {
    margin-left: 9%;
}

.field-border {
    border-top: 1px solid;
    border-left: 1px solid;
    cursor: pointer;
}

.letter {
    border: 1px solid;
}

.field-border:last-of-type {
    border-right: 1px solid;
}

.letter-row:last-of-type .field-border {
    border-bottom: 1px solid;
}

.opponent .empty-field:hover,
.empty-field-hover {
    background-color: #cccc00;
}

.ship-field {
    background-color: #7e7e7e;
    cursor: default;
}

.shot-field {
    background-color: #990000;
    cursor: no-drop;
}

.missed-field {
    background-color: #006161;
    cursor: no-drop;
}

.user-shot {
    background: powderblue;
    cursor: no-drop;
}

.modal {
    display: block;
}

.field-legend .field {
    width: 50px;
    margin: 0 auto 20px;
    cursor: default;
}

.field-legend .empty-field {
    border: 1px solid;
}

@media(max-width: 600px) {
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}