.message-box {
    position: absolute;
    min-width: 450px;
    z-index: 1001;
    left: calc(50% - 225px);
    top: 2vh;
    border-radius: 15px;
    padding: 25px;
    color: #FFFFFF;
    text-align: center;
}

.warning {
    background-color: rgba(255, 50, 50, 0.8);
}

.success {
    background-color: rgba(40, 167, 69, 0.8)
}