input,
select {
    width: 100%;
}

select {
    background: transparent;
    height: 40px;
    margin-bottom: 30px;
    padding: 7px 15px;
}

button {
    margin-right: 15px;
}

button:last-of-type {
    margin-right: 0px;
}