input,
select,
h1,
p {
    width: 100%;
}

select {
    background: transparent;
    height: 40px;
    margin-bottom: 30px;
    padding: 7px 15px;
}

button {
    margin-right: 15px;
}

button:last-of-type {
    margin-right: 0px;
}

.img-100 {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.join {
    cursor: pointer;
}

.join:hover {
    color: #310c0c;
    text-decoration: underline;
}

.modal {
    background-color: rgba(0, 0, 0, .35);
}

.spinner {
    -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@media(min-width:768px) {
    .table {
        margin: 0 auto;
        width: auto;
        display: table;
    }
}

@media (min-width: 577px) {
    .modal-dialog {
        max-width: 991px;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 50%;
        left: 25%;
    }
}

@media(max-width:576px) {
    .row {
        margin-left: 0px;
        margin-right: 0px;
    }
}